<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossa casa</title>
</head>
<body>
    <h1>bem vindo ao meu site</h1>
    <header>
        <nav>
            <a href="#">Construção</a>
            <a href="#">Decoração</a>
            <a href="#">Eletros</a>
        </nav>
    </header>
    <section class="progresso">
        aqui vou mostrar o seu progresso
    </section>
    <section class="itens">
        <div class="card">
            <img src="#" alt="Tijolo">
            <h3 class="title">Tijolo</h3>
            <p>estoque disponivel</p>
            <p>21/32</p>
            <a href="#" class="comprar">Clique aqui para comprar</a>
        </div>
        <div class="card">
            <img src="#" alt="Tijolo">
            <h3 class="title">Tijolo</h3>
            <p>estoque disponivel</p>
            <p>21/32</p>
            <a href="#" class="comprar">Clique aqui para comprar</a>
        </div>
        <div class="card">
            <img src="#" alt="Tijolo">
            <h3 class="title">Tijolo</h3>
            <p>estoque disponivel</p>
            <p>21/32</p>
            <a href="#" class="comprar">Clique aqui para comprar</a>
        </div>
        <footer>
            <a href="#">Site desenvolvido por Guilherme Nicchio para sua namorada</a>
        </footer>
    </section>
</body>
</html>